<div class="lang-switch">
    <span class="lang-switch__label">ru</span>
    <div class="lang-switch__list animate__animated d-none">
        <a class="lang-switch__link" href=".">ru</a>
        <a class="lang-switch__link" href=".">en</a>
    </div>
</div>