<div class="lang-switch">
    <span class="lang-switch__label"><%= lang.name%></span>
    <div class="lang-switch__list animate__animated d-none">
        <% languages.forEach(function(lang){ %>
            <a class="lang-switch__link" href="/<%=lang.name%>"><%= lang.name%></a>
        <% }); %>
    </div>
</div>