<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 wow animate__fadeIn">
                <h2 style="display: none">О нас</h2>
                <div class="d-none d-lg-block about__item">
                    <%- require('svg-inline-loader!./about-lg.svg') %>
                </div>
                <div class="d-none d-md-block d-lg-none about__item">
                    <%- require('svg-inline-loader!./about-md.svg') %>
                </div>
                <div class="d-block d-md-none about__item">
                    <%- require('svg-inline-loader!./about-sm.svg') %>
                </div>

<!--                <img class="img-fluid" src="/images/about-lg.svg" alt="about">-->
            </div>
        </div>
    </div>
</section>

