<section class="why_choose_us" id="choose-us">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 mt-md-5 mb-md-5">
                <h2 class="why_choose_us__header wow animate__fadeIn">Почему именно мы?</h2>
            </div>
            <div class="col-md-5">
                <article class="why_choose_us__item wow animate__fadeInRight">
                    <div class="row pl-4">
                        <div class="col-12 mb-4 mt-4">
                            <span class="why_choose_us__item__number">1</span>
                        </div>
                        <div class="col-12 mb-2">
                            <h3 class="why_choose_us__item__header">Выгода</h3>
                        </div>
                        <div class="col-12">
                            <p class="why_choose_us__item__text">Создаем полезные и удобные сервисы, которые продают и приводят новых клиентов</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-7 mt-4 mt-md-0 mb-md-5 mb-5 mb-sm-0 pb-4 pb-sm-0">
                <article class="why_choose_us__item wow animate__fadeInRight animate__delay-sm-1s">
                    <div class="row pl-4">
                        <div class="col-12 mb-4 mt-4">
                            <span class="why_choose_us__item__number">2</span>
                        </div>
                        <div class="col-12 mb-2">
                            <h3 class="why_choose_us__item__header">Комплексный и качественный анализ проблемы</h3>
                        </div>
                        <div class="col-12 mb-5 mb-sm-0">
                            <p class="why_choose_us__item__text">Наша команда - это эксперты в области программирования и бизнеса. Поэтому поставленные задачи мы анализируем со всех сторон и предлагаем наиболее оптимальные решения</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-5 offset-md-2 mt-md-5 mt-5 mt-sm-4">
                <article class="why_choose_us__item wow animate__fadeInRight">
                    <div class="row pl-4">
                        <div class="col-12 mb-4 mt-4">
                            <span class="why_choose_us__item__number">3</span>
                        </div>
                        <div class="col-12 mb-2">
                            <h3 class="why_choose_us__item__header">Новые технологии</h3>
                        </div>
                        <div class="col-12">
                            <p class="why_choose_us__item__text">Используем исключительно современные и проверенные инструменты с максимальной эффективностью при наименьших вложениях</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-5 mt-md-5 mt-4">
                <article class="why_choose_us__item wow animate__fadeInRight animate__delay-sm-1s">
                    <div class="row pl-4">
                        <div class="col-12 mb-4 mt-4">
                            <span class="why_choose_us__item__number">4</span>
                        </div>
                        <div class="col-12 mb-2">
                            <h3 class="why_choose_us__item__header">Инвестиции</h3>
                        </div>
                        <div class="col-12">
                            <p class="why_choose_us__item__text">Консультируем клиентов по возможности оформления заявок на гранты</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>