.why_choose_us {

  &__header {
    padding: 100px 80px;

    @media (min-width: 576px) {
      font-size: 30px;
      line-height: 38px;
      padding: 100px 80px;
      font-weight: 300;
    }
    @media (max-width: 576px) {
      padding: 50px 0 50px 45px;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 18px;
      height: 1px;
      background: #722ED1;
      @media (min-width: 576px) {
        width: 50px;
      }
      @media (max-width: 576px) {
        width: 30px;
      }
    }
  }

  &__item {
    min-height: 245px;
    //align-items: center;
    //display: flex;
    background: url("img/square.svg") no-repeat left top;



    &__number {
      /* Regular 24px | */
      font-family: Gotham Pro, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      /* identical to box height, or 133% */
      /* Purpure */
      color: #722ED1;
    }

    &__header {
      /* Regular 24px | */

      font-family: Gotham Pro, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      /* identical to box height, or 133% */


      /* Black */

      color: #2C2E32;
    }

    &__text {
      /* Regular 16px | 24px */

      font-family: Gotham Pro, serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */


      /* Black */

      color: #2C2E32;
    }
  }
}