<div class="m_nav d-none">
    <div class="m_nav__container">
        <a class="m_nav__link" href="#services">Услуги</a>
        <a class="m_nav__link" href="#choose-us">почему мы</a>
        <a class="m_nav__link" href="#work-steps">Этапы работы</a>
        <a class="m_nav__link" href="#tech">Технологии</a>
        <a class="m_nav__link" href="#about">О нас</a>
        <a class="m_nav__link" href="#contacts">Контакты</a>
    </div>
</div>

<nav class="nav shadow">
    <div class="container-fluid h-100" style="max-width: 1140px">
        <div class="row align-items-center h-100">
            <div class="col-1">
                <img src="/icons/icon.svg" alt="logo">
            </div>
            <div class="col-10 d-none d-md-block">
                <div class="row text-center justify-content-center">
                    <div class="col-auto px-lg-4 d-none d-lg-block">
                        <a class="nav__link" href="#services">Услуги</a>
                    </div>
                    <div class="col-auto px-lg-4">
                        <a class="nav__link" href="#choose-us">почему мы</a>
                    </div>
                    <div class="col-auto px-lg-4">
                        <a class="nav__link" href="#work-steps">Этапы работы</a>
                    </div>
                    <div class="col-auto px-lg-4">
                        <a class="nav__link" href="#tech">Технологии</a>
                    </div>
                    <div class="col-auto px-lg-4">
                        <a class="nav__link" href="#about">О нас</a>
                    </div>
                    <div class="col-auto px-lg-4">
                        <a class="nav__link" href="#contacts">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="ml-auto col-auto col-md-1 text-right">
                <%- require('ejs-webpack-loader!./lang_switch/LangSwitch.ejs')({lox: 123}) %>
            </div>
            <div style="min-width: 61px" class="col-auto d-md-none">
                <span id="nav_button" class="nav__menu"></span>
            </div>
        </div>
    </div>
</nav>

