<section class="tech" id="tech">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="tech__header wow animate__fadeInDown">Технологии, которые мы используем</h2>
            </div>
            <div class="col-lg-4 ">
                <article class="tech__item">
                    <img class="tech__item__icon wow animate__zoomIn" src="/icons/client.svg" alt="client">
                    <h3 class="tech__item__header wow animate__fadeInDown">Клиентская часть</h3>
                    <p class="tech__item__text wow animate__fadeInDown">HTML 5, CSS 3, JS, jQuery, React.js, Svelte.js, Vue.js</p>
                </article>
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0">
                <article class="tech__item animate__delay-md-1s">
                    <img class="tech__item__icon wow animate__zoomIn animate__delay-md-1s" src="/icons/server.svg" alt="client">
                    <h3 class="tech__item__header wow animate__fadeInDown animate__delay-md-1s">Серверная часть</h3>
                    <p class="tech__item__text wow animate__fadeInDown animate__delay-md-1s">Java, Php, SQL, NoSQL, Python, C#, С++</p>
                </article>
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0">
                <article class="tech__item animate__delay-md-2s">
                    <img class="tech__item__icon wow animate__zoomIn animate__delay-md-2s" src="/icons/db.svg" alt="client">
                    <h3 class="tech__item__header wow animate__fadeInDown animate__delay-md-2s">Работа с данными</h3>
                    <p class="tech__item__text wow animate__fadeInDown animate__delay-md-2s">MySql, PostgreSQL, SQLite, MongoDB</p>
                </article>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>