<section class="contacts" id="contacts">
    <div class="container px-4 px-md-3">
        <div class="row">
            <div class="col-md-5">
                <h2 class="contacts__header">Контакты</h2>
                <p class="contacts__text">Если у вас есть IT-задача, но Вы не знаете, как ее реализовать, наша команда может сделать это для Вас</p>
            </div>
            <div class="col-md-7 d-none d-md-block wow animate__fadeInRight">
                <h1 class="contacts__decor_text ">Контакты</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-4">
                <article>
                    <h4 class="contacts__c__label">Е-mail</h4>
                    <a class="contacts__c__value" href=".">mail-to@domain.com</a>
                </article>
            </div>
            <div class="col-sm-4 mt-4 mt-sm-0">
                <article>
                    <h4 class="contacts__c__label">Телефон</h4>
                    <a class="contacts__c__value" href=".">(499) 951-60-00</a>
                </article>
            </div>
            <div class="col-sm-4 mt-4 mt-sm-0">
                <article>
                    <h4 class="contacts__c__label">Скайп</h4>
                    <a class="contacts__c__value" href=".">skypeid</a>
                </article>
            </div>
        </div>
    </div>
</section>