<section class="banner" id="services">
    <div class="container h-100 wow animate__fadeIn">
        <div class="row h-100 align-items-center text-center">
            <div class="col-12 text-center">
                <h2><%-data.header%></h2>
                <p><%-data.text1%></p>
            </div>
            <div class="col-auto mx-auto my-lg-5 my-auto">
                <button id="to_form"><%=data.button_text%></button>
            </div>
            <div class="col-12 text-center mt-4 mt-md-5">
                <p><%-data.text2%></p>
            </div>
        </div>
    </div>
</section>