/*  import Project modules */
@import "templates/nav/nav";
@import "templates/banner/banner";
@import "templates/why_choose_us/WhyChooseUs";
@import "templates/what_we_developed/WhatWeDeveloped";
@import "templates/how_we_work/HowWeWork";
@import "templates/tech/Tech";
@import "templates/about/about";
@import "templates/contacts/Contacts";
@import "templates/footer/Footer";
@import "templates/form/Form";

@import "css/animation";



*:focus {
  outline: none !important;
}


/*В what_we_developed есть элементы выходящие за границу body*/
/*They affects on page width that is bad*/
html, body {
  overflow-x: hidden;
}


.lock {
  overflow: hidden;
  position: relative;
  height: 100%;
}