<section class="how_we_work" id="work-steps">
    <div class="container px-4 px-md-3">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="how_we_work__header wow animate__fadeInRight">Как ведется работа над проектом</h2>
            </div>
            <div class="col-md-10 col-lg-6 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p style="margin-left: 14px" class="how_we_work__item__number">1</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/1.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header">Задача</h3>
                            <p class="how_we_work__item__text">Оставьте заявку, и мы с удовольствием бесплатно проконсультируем вас</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-10 col-lg-7 offset-lg-5 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p class="how_we_work__item__number">2</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/2.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header">Требования</h3>
                            <p class="how_we_work__item__text">Создаем техническое описание, что будет делать система и её функционал</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-10 col-lg-6 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p  class="how_we_work__item__number">3</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/3.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header">Проектирование</h3>
                            <p class="how_we_work__item__text">Определяем основные компоненты системы и проектируем каждый элемент</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-10 col-lg-7 offset-lg-5 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p class="how_we_work__item__number">4</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/4.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header">Конструирование</h3>
                            <p class="how_we_work__item__text">Выбираем инструменты и способы реализации гарантии качества производимых работ</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-10 col-lg-6 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p  class="how_we_work__item__number">5</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/5.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header">Реализация</h3>
                            <p class="how_we_work__item__text">Производим техническую реализацию продукта, тестирование и необходимые доработки</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

</section>